.product {
    background-image: url("../img/productbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &-title {
        margin-bottom: 72px;
        @include md {
            margin-bottom: 48px;
        }
        @include sm {
            margin-bottom: 37px;
        }
        h2 {
            @include font-88;
            font-weight: 900;
            text-shadow: 4px 4px 0px #030606;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #030606;
            text-transform: uppercase;
            @include mmd {
                text-shadow: 3px 3px 0px #030606;
            }
        }
    }
    &-cards {
        border-radius: 24px;
        background: $white;
        padding: 24px;
        &-text {
            gap: 32px;
            &-image {
                width: 290px;
                height: 312px;
                flex: 0 0 auto;
                @include xl {
                    width: 252px;
                    height: 260px;
                }
                @include sm {
                    width: 100%;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 16px;
                    @include sm {}
                }
            }
            h3 {
                @include font-30;
                font-weight: 900;
                color: #161616;
                text-transform: uppercase;
                @include xl {
                    font-size: 17px;
                }
            }
            p {
                @include font-16;
                font-weight: 500;
                color: #05293E;
                @include xl {
                    font-size: 14px;
                }
            }
        }
    }
}

.titlewidth {
    width: 560px;
    @include mmd {
        width: 100%;
    }
}

.deswidth {
    width: 654px;
    @include lg {
        width: 100%
    }
    @include mmd {
        width: 100%
    }
}

.productbtn {
    border-radius: 12px;
    border: 3px solid #030606;
    background: $white;
    box-shadow: 4px 6px #030606;
    @include font-20;
    font-weight: 900;
    line-height: 130%;
    padding: 22px 68px;
    transition: .3s ease-in-out;
    @include xxl {
        padding: 22px 50px;
    }
    @include xl {
        padding: 19px 28px;
    }
    @include sm {
        display: flex;
        margin: auto;
    }
    &:hover {
        box-shadow: 0px 0px transparent;
    }
}