.tokenomics {
    &-title {
        & h2 {
            @include font-100;
            text-shadow: var(--shadow, 6px) var(--shadow, 6px) 0px #111315;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $black;
            @include md {
                --shadow: 4px;
            }
            @include sm {
                --shadow: 2px;
            }
        }
        & p {
            @include font-40;
            font-weight: bold;
            text-shadow: 1.71px 1.71px 0px #000;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #000;
        }
    }
    &-percentage {
        margin-top: 72px;
        @include sm {
            margin-top: 30px;
        }
        &-item {
            border-radius: 16px;
            border: 1px solid #0D0D0D;
            background: #FFF;
            box-shadow: 2px 4px 0px 0px #000;
            padding: 16px;
            @include sm {
                width: 100%;
                text-align: center;
            }
            & p {
                @include font-20;
                color: #05293E;
                & span {
                    --width: 32px;
                    width: var(--width);
                    height: var(--width);
                    box-shadow: 0 2px 0 $black;
                }
            }
        }
    }
}